/* 

.products-container{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 3px 3px gray;
    margin: 10px;
}

img{
    height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card-description{
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.main {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 400px;
    height: 265px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        /* height: 50%; */
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        /* height: 33.3333%; */
        width: 33.3333%;
        /* width: 100%; */
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
    text-align: center;
}

.card_title {
    color: #ffffff;
}